@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-emerald-500;
  }
  /* Chrome, Safari, Edge, Opera */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .app-w {
    @apply w-full max-w-md mx-auto;
  }
}

@layer components {
  .primary-btn {
    @apply w-full bg-emerald-500 font-medium text-center rounded-md hover:bg-emerald-400 transition-colors text-white outline-none focus:ring-2 focus:ring-neutral-100;
  }
}
